html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    background: url(../images/bg.jpg);
    background-repeat: repeat;
}
a {
    text-decoration: none;
}
footer {
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0 100px;
}
footer p {
    text-align: center;
    color: #111;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
}
header p {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family:'Montserrat', sans-serif;
    font-size: 36px;
    margin-bottom: 25px;
}
header .tagline {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    display: inline-block;
    letter-spacing: 0.1em;
    font-family:Arial, sans-serif;
    font-size: 24px;
}
#blog ul {
    background-color: #333;
    color: #fff;
    text-align: center;
}
#blog ul li {
    background-color: #333;
    display: inline-block;
    list-style: none;
    width: 242.5px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, sans-serif;
}
#blog ul li:hover { 
    background-color: #4472b9; 
}
.circular img {
    margin-top: 90px;
    margin-bottom: 25px;
    border-radius:50%;
}
.description {
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 18px;
    width: 660px;
    font-family: Arial, sans-serif;
}
.nav ul {
    background-color: #4472b9;
    text-align: center;
}
.nav ul li {
    width: 200px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1em;
    padding-top: 22px;
    padding-bottom: 19px;
    font-family:'Montserrat', sans-serif;
}
a:link {
    color: #fff;
}
a:visited {
    color:#fff;
}