* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato',sans-serif;
	line-height: 1.5;
	background: url(../images/bg.jpg);
	background-repeat: repeat;
}
a {
	text-decoration: none;

}
h1 {
	font-size: 1.5em;
	margin: 25px;
	text-align: center;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	max-width:100%; 
}
p {
	font-size: 16px;
	padding: 10px;
}
ul {
	background-color: #4472b9;
	color: #fff;
	text-align: center;
}
li {
	background-color: #4472b9;
	display: inline-block;
	list-style: none;
	width: 242.5px;
	padding-top: 50px;
	padding-bottom: 50px;
}
footer {
	margin-left: auto;
    margin-right: auto;
	background-color: #222;
}
footer p {
	text-align: center;
	color: #fff;
}
#brief {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
#description {
	margin-left: auto;
    margin-right: auto;
	text-align: justiify;
	padding-top: 75px;
	padding-bottom: 75px;
	padding-left: 50px;
	padding-right: 50px;
}
#blog ul {
	background-color: #222;
	color: #fff;
	text-align: center;
}
#blog ul li {
	background-color: #222;
	display: inline-block;
	list-style: none;
	width: 242.5px;
	padding-top: 50px;
	padding-bottom: 50px;
}
@media screen and (max-width: 480px) {
	body {
    	font-size: 20px;
    	font-weight: 700;
	}
	footer,
	ul,
	#brief,
	#description {
		width: auto;
	}
	#brief {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
a:link {
	color: #fff;
}
a:visited {
	color:#fff;
}