body {
	font-family: 'Arial',sans-serif;
	line-height: 1.5;
	background: url(../images/bg.jpg);
	background-repeat: repeat;
	color: #FFFFFF;
}

a {
	text-decoration: none;
}

span#inline {
	display: inline;
	border: 1px solid #4472b9;
}

span#inline_margin {
	color: #FFFFFF;
	display: inline;
	background-color: #4472b9;
	padding: 15px;
}

span#inline_block {
	color: #FFFFFF;
	display: inline-block;
	background-color: #4472b9;
	padding: 15px;
}

#header {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 90px;
	color: #111111;
}

#header h1 {
	padding: 5px;
}

#menubar {
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 30px;
	position: relative;
	background-color: #DDDDDD;
}

#menubar a {
	line-height: 30px;
   	margin-left: 15px;
   	display: inline;
   	padding-right: 15px; 
}

#content_area {
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 800px;
	background-color: #FFFFFF;
	color: #111111; 
	position: relative;
	line-height: 1.5;
	clear: both;
}

#content_area h3 {
	margin-left: 15px;
	color: #111111;
}

#content_area p {
	margin-left: 15px;
	margin-right: 15px;
}

#code {
	background-color: #f3f3f7;
	padding: 10px;
}

#footer {
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 100px;
    background-color: #111111;
	position: relative;
}

#footer p {
	margin-left: 15px;
}

.black {
	color: #111111;
}

a:link {color: #4472b9;}
a:visited {color: #4472b9;}